@import url("//fonts.googleapis.com/css?family={{fontName}}");

#progressbar.ui-progressbar {
  position: fixed;
  background-color: {{backgroundColor}};
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  border: 0px;
}
#progressbar .ui-progressbar-value {
  background-color: {{barColor}};
  border: 0px;
}
#progressbar .ui-progressbar-overlay {
  background-color: {{barColor}};
  border: 0px;
}
#progressbar .progress {
  font-family: '{{fontName}}', sans-serif;
  position: absolute;
  width: 100%;
  top: 5vh;
  font-size: {{fontSize}}vh;
  color: {{fontColor}};
  z-index: 100;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
#progressbar .progress-value {
  text-align: center;
}
#progressbar .progress-goal {
  text-align: right;
  right: 2vw;
}